apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot-app
  labels:
    app: springboot-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: springboot-app
  template:
    metadata:
      name: springboot-app
      labels:
        app: springboot-app
    spec:
      containers:
        - name: springboot-app
          image: ghcr.io/colswap/springboot-assignment-4-template:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:mysql://mydb-mysql:3306/seminar2025?allowPublicKeyRetrieval=true
            - name: SPRING_DATASOURCE_USERNAME
              value: root
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mydb-mysql
                  key: mysql-root-password
          ports:
            - containerPort: 8080

